.card {
    background-color: white;
    position: relative;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border: 0;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 4px;
    box-shadow: 1px 1px 1px 1px rgb(175, 175, 175);
    transform: rotateY(var(--angle-y, 0));
    transform-style: preserve-3d;
}

.image{
    height: 65px;
    width: 58px;
}

.front, .back {
    position: absolute;
    padding: 10px;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    --angle-y: 180deg;
}