.card {
    background-color: white;
    position: relative;
    height: 10rem;
    width: 8rem;
    border-radius: 1rem;
    border-color: black;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 0.2rem;
    box-shadow: 0rem 0rem 0.2rem 0.2rem rgb(94, 94, 94);
    transition: 250ms;
    transform: perspective(20rem) rotateY(var(--angle-y, 0));
    transform-style: preserve-3d;
    cursor: pointer;
}

.card:hover {
    box-shadow: 0rem 0rem 0.2rem 0.2rem rgb(44, 44, 44);
}

.image{
    height: 7rem;
    width: 7rem;
}

.front, .back {
    position: absolute;
    padding: 1rem;
    backface-visibility: hidden;
}

.back {
    transform: rotateY(180deg);
}

.flip {
    --angle-y: 180deg;
}